/* change the link color */
.navbar-nav .nav-item .nav-link {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: black;
}

/* change the color of active or hovered links */
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: red;
    font-size: 22px;
}